<html>
  <head>
    <title>Wavetabs - Like Wave Only With Tabs</title>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <meta http-equiv="refresh" content="0; url=/admin"/>
  </head>
  <body>
  </body>
</html>