<html>
  <head>
    <title>Wavetabs - Like Wave Only With Tabs</title>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <form action="/admin/curated/new">
      Name: <input type="text" name="name"/><br/>
      Url: <input type="text" name="url"/><br/>
      Icon url: <input type="text" name="iconUrl"/><br/>
      Linkbot: <input type="text" name="linkbot"/><br/>
      <input type="submit" name="submit" value="Save"/>
    </form>
  </body>
</html>